[multi_pin part_fan]
pins: PA8, PD13

# Rat Rig V-core 3 Klipper Config
# Documentation: https://os.ratrig.com

# The first thing you'll need to do is go through this file and comment out / uncomment 
# the files and/or settings you need.
# You'll be able to print just fine with this config as it is, but it is recommended
# that you follow these steps to properly calibrate your printer:
# 0) Sanity check and PID Tuning: https://www.klipper3d.org/Config_checks.html
# 1) Pressure Advance: https://www.klipper3d.org/Pressure_Advance.html
# 2) Skew Correction: https://www.klipper3d.org/Skew_Correction.html
# 3) Resonance Compensation: https://www.klipper3d.org/Resonance_Compensation.html

# Read more about klipper here: https://www.klipper3d.org/Overview.html

#############################################################################################################
### CONTROL BOARD
### Pick the board you have installed and wired in your printer.
##############################################################################################################
#[include config/boards/btt-skr-pro-12/config.cfg]
[include config/boards/btt-octopus-11/config.cfg]
#[include config/boards/btt-octopus-pro-446/config.cfg]
#[include config/boards/btt-octopus-pro-429/config.cfg]
#[include config/boards/fysetc-spider/config.cfg]


#############################################################################################################
### BASE SETUP
#############################################################################################################
[include config/printers/v-core-3/v-core-3.cfg]

#############################################################################################################
### STEPPER MOTORS, DRIVERS & SPEED LIMITS
### Pick the drivers and stepper motors you're using. See the RatOS documentation for custom combinations.
#############################################################################################################
[include config/printers/v-core-3/steppers.cfg]

# UNCOOLED TMC 2209 + LDO-42STH48-2504AC
[include config/printers/v-core-3/speed-limits-basic.cfg]
[include config/printers/v-core-3/tmc2209.cfg]
[include config/steppers/ldo/42sth48-2504ac/2209/24v-1.1a-*.cfg]

# COOLED TMC 2209 + LDO-42STH48-2504AC 
# This increases motor torque, positional accuracy and speed limits. 
# don't enable this before your printer is fully configured and you have a fan blowing on your stepper drivers.
#[include config/printers/v-core-3/speed-limits-performance.cfg]
#[include config/printers/v-core-3/tmc2209-performance.cfg]
#[include config/steppers/ldo/42sth48-2504ac/2209/24v-1.6a-*.cfg]

# STEALTH MODE (Enables stealthchop and limits velocity and acceleration)
# NOTE: You still need to include one of the above stepper motor definitions.
# NOTE: This will make your printer quiter but less accurate, it's an inherent side effect of stealthchop.
#[include config/printers/v-core-3/speed-limits-stealth.cfg]
#[include config/printers/v-core-3/tmc2209-stealth.cfg]

#############################################################################################################
### HOMING
### Pick your probe and endstops
#############################################################################################################
# BL Touch
[include config/z-probe/bltouch.cfg]
# Inductive/Capacitive probe
#[include config/z-probe/probe.cfg]

# Physical endstops
[include config/printers/v-core-3/physical-endstops.cfg]
# Sensorless homing (Beware: this requires manual tinkering and does not work if your x/y stepper drivers
# have clipped DIAG pins). It is strongly encouraged to use physical endstops if you're a beginner.
# If you still wish to proceed, copy config/templates/sensorless-homing-tmc2209.cfg to the root directory and 
# remove the # from the line below.
#[include sensorless-homing-tmc2209.cfg]


#############################################################################################################
### PHYSICAL DIMENSIONS
### Pick your printer size
#############################################################################################################
# Remove the # from your printer size below. 
# Similarly add a # in front of [include config/printers/v-core-3/300.cfg] if you have a bigger machine.
#[include config/printers/v-core-3/300.cfg]
[include config/printers/v-core-3/400.cfg]
#[include config/printers/v-core-3/500.cfg]


#############################################################################################################
### INPUT SHAPER
### Enable/disable input shaper calibration
#############################################################################################################
# Uncomment this next line if you have an ADXL345 connected to your control board
#[include config/printers/v-core-3/input-shaper.cfg] 


#############################################################################################################
### TOOLHEAD
### Pick your extruder and hotend
#############################################################################################################
# Extruder
#[include config/extruders/bmg.cfg]
#[include config/extruders/lgx.cfg]
#[include config/extruders/lgx-lite.cfg]
[include config/extruders/orbiter.cfg]
#[include config/extruders/orbiter-1004.cfg] # Use this with the LDO-36STH20-1004AHG motor
#[include config/extruders/hemera.cfg]
#[include config/extruders/titan.cfg]

# Hotend
[include config/hotends/v6.cfg]
#[include config/hotends/dragonfly.cfg]
#[include config/hotends/rapido.cfg]
#[include config/hotends/copperhead.cfg]
#[include config/hotends/mosquito.cfg]
#[include config/hotends/mosquito-magnum.cfg]
#[include config/hotends/dragon-standard-flow.cfg]
#[include config/hotends/dragon-high-flow.cfg]


#############################################################################################################
### MACROS
#############################################################################################################
[include config/macros.cfg]
[include config/shell-macros.cfg]
[include config/printers/v-core-3/macros.cfg]


#############################################################################################################
### MACRO CONFIGURATION
### Configure the behavior of RatOS macros
#############################################################################################################
[gcode_macro RatOS]
# Use absolute extrusion mode
# Set to True to use relative extrusion mode
variable_relative_extrusion: False
# Wait for extruder to reach 150 so an inductive probe (if present) is at a predictable temp. 
# Also allows the bed heat to spread a little, and softens any plastic that might be stuck to the nozzle.
# Set to False to disable
variable_preheat_extruder: True
# Calibrate the bed mesh in the START_PRINT macro.
# Set to false to skip BED_MESH_CALIBRATE, it will still load the BED_MESH 
# with the name "ratos", be sure to save your bed_mesh profile with that name.
# or override the _START_PRINT_BED_MESH macro to implement your own mesh handling logic.
variable_calibrate_bed_mesh: True
# Print a prime line at the end of the START_PRINT macro
# set to False to disable nozzle_priming.
variable_nozzle_priming: "primeline"
# Park in the back when waiting for the extruder to heat up
# set to "front" to park in the front, or "center" to park in the center.
variable_start_print_park_in: "back"
# Height to park it when waiting for extruder to heat.
variable_start_print_park_z_height: 50
# Skew profile to load before starting the print 
# uncomment this to use your calibrated skew correction profile.
#variable_skew_profile: "my_skew_profile"
# Park in the back after the print has ended or was cancelled.
# set to "front" to park in the front, or "center" to park in the center.
variable_end_print_park_in: "back"
# Park in the back when the print is paused.
# set to "front" to park in the front, or "center" to park in the center.
variable_pause_print_park_in: "back"
# Set the speed for travel moves in RatOS Macros in mm/s.
variable_macro_travel_speed: 300


#############################################################################################################
### PRINTER CONFIGURATION
### Customize the defaults to your specific build
#############################################################################################################

[stepper_x]
dir_pin: !x_dir_pin # Add ! in front of pin name to reverse X stepper direction
rotation_distance: 40 # 40 for 20 tooth 2GT pulleys, 32 for 16 tooth 2GT pulleys
position_endstop: 0 # Adjust this to your setup

[stepper_y]
dir_pin: y_dir_pin # Add ! in front of pin name to reverse Y stepper direction
rotation_distance: 40 # 40 for 20 tooth 2GT pulleys, 32 for 16 tooth 2GT pulleys
#position_endstop: 300  # 300mm printer
position_endstop: 400 # 400mm printer
#position_endstop: 500 # 500mm printer

[stepper_z]
dir_pin: !z0_dir_pin # Add ! in front of pin name to reverse Z stepper direction
rotation_distance: 8.03 # 4 for TR8*4 lead screws

[stepper_z1]
dir_pin: !z1_dir_pin # Add ! in front of pin name to reverse Z1 direction
rotation_distance: 8.03 # 4 for TR8*4 lead screws

[stepper_z2]
dir_pin: !z2_dir_pin # Add ! in front of pin name to reverse Z2 direction
rotation_distance: 8.03 # 4 for TR8*4 lead screws

# Z Probe configuration
[bltouch]
x_offset: 31.5
#z_offset: 0.0 # Adjust this to fit your setup
#[probe]
#z_offset: 0.0 # Adjust this to fit your setup
#pin: ^probe_pin # For NPN NC probes such as the Super Pinda / Vinda / SupCR / Decoprobe probes.
#pin: ^!probe_pin # NPN NO (refer to the specs on your probe)
#pin: probe_pin # PNP NO (refer to the specs on your probe)
#pin: !probe_pin # PNP NC (refer to the specs on your probe)

# Safe Z Home (Physical endstops only)
[safe_z_home]
#home_xy_position: 150,150 # 300mm printer
home_xy_position: 200,200 # 400mm printer
#home_xy_position: 250,250 # 500mm printer

[extruder]
# Check https://www.klipper3d.org/Pressure_Advance.html for pressure advance tuning.
#pressure_advance: 0.05
nozzle_diameter: 0.4 # Remember to change this if you change nozzle diameter.
dir_pin: !e_dir_pin # Remove ! in front of pin name to reverse extruder direction
#control: pid
#pid_kp: 28.413
#pid_ki: 1.334
#pid_kd: 151.300

[heater_bed]
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114






# ADXL345 resonance testing configuration
#[resonance_tester]
#probe_points:
#    150,150,20 # 300mm printer
#    200,200,20 # 400mm printer
#    250,250,20 # 500mm printer


#############################################################################################################
### USER OVERRIDES
### Anything custom you want to add, or RatOS configuration you want to override, do it here.
#############################################################################################################

[printer]
kinematics: hybrid_corexy

[bed_mesh]
mesh_min: 90,20
mesh_max: 390,370
horizontal_move_z: 5

[stepper_x]
rotation_distance: 40  ;two carriage 's ratation_distance must the same.
position_endstop: 400
homing_positive_dir: 1
position_min: 0
position_max: 400
homing_speed: 100

[tmc2209 stepper_x]
uart_pin: PC4
run_current: 1.1
stealthchop_threshold: 1

# Definition for the secondary carriage 

[dual_carriage]
axis: x
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15
microsteps: 16
rotation_distance: 40  ;two carriage 's ratation_distance must the same.
endstop_pin: ^PG10
position_endstop: 0
homing_positive_dir: 0
position_min: 0
position_max: 340
homing_speed: 100


[tmc2209 dual_carriage]
uart_pin: PD11
run_current: 1.1
stealthchop_threshold: 1

[stepper_y]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
microsteps: 16
rotation_distance: 40
endstop_pin: ^PG9
position_endstop: 400
position_max: 400
homing_speed: 100

[tmc2209 stepper_y]
uart_pin: PC6
run_current: 1.1
stealthchop_threshold: 1

[extruder]
step_pin: PG4
dir_pin: PC1
enable_pin: !PA0
microsteps: 64
rotation_distance: 4.63
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PF4
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 250

min_extrude_temp: 20  #test

[tmc2209 extruder]
uart_pin: PC7
run_current: 0.35
stealthchop_threshold: 0
interpolate: False
driver_TBL: 1
driver_TOFF: 3
driver_HEND: 9
driver_HSTRT: 7


# Helper script to park the carriage (called from T0 and T1 macros)
[gcode_macro PARK_extruder]
gcode:
    SAVE_GCODE_STATE NAME=park0
    G90
    G1 X400
    RESTORE_GCODE_STATE NAME=park0

# Activate the primary extruder
[gcode_macro T0]
gcode:
    PARK_{printer.toolhead.extruder}
    ACTIVATE_EXTRUDER EXTRUDER=extruder
    SET_DUAL_CARRIAGE CARRIAGE=0
    SET_GCODE_OFFSET X=0

[extruder1]
step_pin: PF9
dir_pin: !PF10
enable_pin: !PG2                        # The ! must be add in font of the pin.
full_steps_per_rotation: 200
max_extrude_only_velocity: 60
rotation_distance: 4.63
nozzle_diameter: 1.000
filament_diameter: 1.750
microsteps: 64
heater_pin: PA3
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PF5
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 250

min_extrude_temp: 20  #test

[tmc2209 extruder1]
uart_pin: PF2
run_current: 0.35
stealthchop_threshold: 0
interpolate: False
driver_TBL: 1
driver_TOFF: 3
driver_HEND: 9
driver_HSTRT: 7

[gcode_macro PARK_extruder1]
gcode:
    SAVE_GCODE_STATE NAME=park1
    G90
    G1 X0
    RESTORE_GCODE_STATE NAME=park1

[gcode_macro T1]
gcode:
    PARK_{printer.toolhead.extruder}
    ACTIVATE_EXTRUDER EXTRUDER=extruder1
    SET_DUAL_CARRIAGE CARRIAGE=1
    SET_GCODE_OFFSET Z=-0.1

[heater_fan T1]
pin:PD14
heater: extruder1

[fan]
pin: multi_pin:part_fan   ;Look at the line-1 in this file.

[gcode_macro PRIME_LINE]
gcode: 
	SAVE_GCODE_STATE NAME=prime_line_state
	{% set speed = printer["gcode_macro RatOS"].macro_travel_speed|float * 60 %}
	G90
	M82
	M117 Priming nozzle with prime line..
	RESPOND MSG="Priming nozzle with prime line.."
	G1 Z5 F3000
	G1 X{printer.toolhead.axis_maximum.x - 70} Y{printer.toolhead.axis_minimum.y + 10} F{speed} ;change 70 value
	G1 Z0.3 F3000
	G92 E0
	G1 Y{printer.toolhead.axis_minimum.y + 80} E16 F1200
	G1 Y{printer.toolhead.axis_minimum.y + 100} F{speed}
	RESTORE_GCODE_STATE NAME=prime_line_state

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 27.118
#*# pid_ki = 1.507
#*# pid_kd = 122.032
#*#
#*# [extruder1]
#*# control = pid
#*# pid_kp = 26.410
#*# pid_ki = 1.285
#*# pid_kd = 135.681
#*#
#*# [bltouch]
#*# z_offset = 2.700
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 63.150
#*# pid_ki = 1.986
#*# pid_kd = 502.039
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.039640, 0.103629, 0.129350, 0.239135, 0.255446, 0.209650, 0.071634
#*# 	-0.050698, 0.078535, 0.016428, 0.104256, 0.145034, 0.013919, -0.098376
#*# 	0.020192, 0.084809, 0.021447, 0.109902, 0.081672, -0.034387, -0.221335
#*# 	0.140642, 0.130605, 0.069752, 0.057205, 0.077908, -0.131625, -0.323592
#*# 	0.192712, 0.172009, 0.098610, 0.073516, 0.020192, -0.121587, -0.400128
#*# 	0.286813, 0.237880, 0.121822, 0.064106, -0.002392, -0.246429, -0.497994
#*# 	0.339510, 0.306261, 0.111157, 0.062852, -0.036896, -0.320455, -0.608406
#*# tension = 0.2
#*# min_x = 89.99
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 2
#*# min_y = 20.0
#*# x_count = 7
#*# max_y = 369.98
#*# mesh_x_pps = 2
#*# max_x = 390.01
